In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index = list(range(3)), dtype = 'float32'),
                     'D' : np.array([3] * 3, dtype = 'int32'),
                     'E' : pd.Categorical(["test","pomme","train"]),
                     'F' : 'foo' })
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  pomme  foo
2  1.0 2013-01-02  1.0  3  train  foo