# Lambda

In [1]:
def add(x, y): 
    return x + y
  
# Call the function
add(2, 3)  # Output: 5

5

In [2]:
add = lambda x, y : x + y  
print (add(2, 3)) # Output: 5

5

In [3]:
type (add) # Output: function

function

# Map

In [4]:
# La fonction map prend en argument une fonction et une collection de données.
# Elle crée une nouvelle collection vide, applique la fonction à chaque élément de la collection d'origine
# et insère les valeurs de retour produites dans la nouvelle collection.
# Finalement, elle renvoie la nouvelle collection.

In [5]:
# map(function_object, iterable1, iterable2,...)

In [ ]:
# MAP
# map(function_to_apply, list_of_inputs)

In [6]:
def multiply2(x):
    return x * 2
    
test = map(multiply2, [1, 2, 3, 4]) # Output [2, 4, 6, 8]
list(test)

[2, 4, 6, 8]

In [7]:
test = map(lambda x : x*2, [1, 2, 3, 4]) #Output [2, 4, 6, 8]
list(test)

[2, 4, 6, 8]

In [8]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
  
test = map(lambda x : x['name'], dict_a) # Output: ['python', 'java']
list(test)

['python', 'java']

In [9]:
test = map(lambda x : x['points']*10,  dict_a) # Output: [100, 80]
list(test)

[100, 80]

In [10]:
test = map(lambda x : x['name'] == "python", dict_a) # Output: [True, False]
list(test)

[True, False]

In [11]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]
  
test = map(lambda x, y: x + y, list_a, list_b) # Output: [11, 22, 33]
list(test)

[11, 22, 33]

In [12]:
map_output = map(lambda x: x*2, [1, 2, 3, 4])
print(map_output) # Output: map object: <map object at 0x04D6BAB0>
list_map_output = list(map_output)
print(list_map_output) # Output: [2, 4, 6, 8]

<map object at 0x10a6072e8>
[2, 4, 6, 8]

## Filter

In [13]:
# FILTER
# filter(function_to_apply, input)

In [14]:
a = [1, 2, 3, 4, 5, 6]
test = filter(lambda x : x % 2 == 0, a) # Output: [2, 4, 6]
list(test)

[2, 4, 6]

In [15]:
dict_a = [{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]
test = filter(lambda x : x['name'] == 'python', dict_a) # Output: [{'name': 'python', 'points': 10}]
list(test)

[{'name': 'python', 'points': 10}]

In [16]:
list_a = [1, 2, 3, 4, 5]
filter_obj = filter(lambda x: x % 2 == 0, list_a) # filter object <filter at 0x4e45890>
even_num = list(filter_obj) # Converts the filer obj to a list
print(even_num) # Output: [2, 4]

[2, 4]

## Reduce

In [17]:
# La fonction reduce prend en entrée une fonction et une collection d'éléments.
# Elle renvoie une valeur créée en combinant les éléments de la collection.

In [ ]:
# REDUCE
# reduce(function_to_apply, list_of_inputs)
# ATTENTION Import en Python 3
# from functools import reduce

In [18]:
from functools import reduce
somme = reduce(lambda a, x: a + x, [0, 1, 2, 3, 4])
print (somme)

10

### Fibonacci

In [19]:
# Python program to display the Fibonacci sequence up to n-th term using recursive functions

def recur_fibo(n):
    """Recursive function to
    print Fibonacci sequence"""
    if n <= 1:
        return n
    else:
        return(recur_fibo(n-1) + recur_fibo(n-2))

# input from the user
nterms = int(input("Le numéro borne dans la suite de Fibonacci ? : "))

# check if the number of terms is valid
if nterms <= 0:
    print("Le nombre doit être entier positif !")
else:
    print("Le nombre n° {} dans la suite de Fibonacci est : {}.".format(nterms, recur_fibo(nterms)))
    print("La séquence complète de Fibonacci :")
    for i in range(nterms):
        print(recur_fibo(i))

Le numéro borne dans la suite de Fibonacci ? : 32
Le nombre n° 32 dans la suite de Fibonacci est : 2178309.
La séquence complète de Fibonacci :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269

In [20]:
sequence = map(lambda x: recur_fibo(x-1) + recur_fibo(x-2), [i for i in range(nterms)])
print(list(sequence))

[-3, -1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269]

## Encore

In [21]:
# MAP
# map(function_to_apply, list_of_inputs)

In [22]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
print(squared)

[1, 4, 9, 16, 25]

In [24]:
items = [1, 2, 3, 4, 5]
squared = map(lambda x: x**2, items)
print(list(squared))

[1, 4, 9, 16, 25]

In [25]:
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

# Output:
# [0, 0]
# [1, 2]
# [4, 4]
# [9, 6]
# [16, 8]

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

In [26]:
# FILTER
# filter(function_to_apply, condition)

In [1]:
number_list = range(-5, 5)
less_than_zero = list(filter(lambda x: x < 0, number_list))
print(less_than_zero)
# Output: [-5, -4, -3, -2, -1]

[-5, -4, -3, -2, -1]

In [2]:
# REDUCE
# reduce(function_to_apply, list_of_inputs)
# ATTENTION Import en Python 3
# from functools import reduce

In [3]:
product = 1
list = [1, 2, 3, 4]
for num in list:
    product = product * num
print(product)
# product = 24

24

In [4]:
from functools import reduce
product = reduce((lambda x, y: x * y), [1, 2, 3, 4])
print(product)
# Output: 24

24

## Encore

In [5]:
#An example of lambda function

#Using lambda function
cal_sq = lambda a: a*a
print ("The square using lambda: ", cal_sq(5))

#using normal function
def sq (z):
    return z*z
print ("The square using normal function: ", sq(5))

The square using lambda:  25
The square using normal function:  25

In [1]:
#An example of lambda function with map

a_List = [5, 10, 15, 20]
b_Lst2 = [30, 35, 40, 45]

c_List_sum = map(lambda num1,num2: num1+num2, a_List,b_Lst2)
print("The list after sum", list(c_List_sum))

The list after sum [35, 45, 55, 65]

In [2]:
#An example of lambda function with map for Fahrenheit to Celsius conversion

Fahrenheit_List = [98, 102, 110, 125]

Celsius_List_sum = map(lambda F: ((5.0/9.0)*(F - 32)), Fahrenheit_List)
print("The Celsius Temp: ", list(Celsius_List_sum))

The Celsius Temp:  [36.66666666666667, 38.88888888888889, 43.333333333333336, 51.66666666666667]

In [3]:
#An example of filter with lambda to get leap years

Year_list = [1992, 1994, 1996, 1998, 2000, 2003, 2004, 2008, 2010, 2012, 2014]

Leap_Years = list(filter(lambda leap: (leap%4 == 0) , Year_list))

print("The leap years in the list are: " ,Leap_Years)

The leap years in the list are:  [1992, 1996, 2000, 2004, 2008, 2012]

## Encore

### Exercice "joueurs de football"¶

In [16]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/rasbt/python_reference/master/Data/some_soccer_data.csv')
df

,PLAYER,SALARY,GP,G,A,SOT,PPG,P
0,Sergio Agüero\n Forward — Manchester City,$19.2m,16.0,14,3.0,34,13.12,209.98
1,Eden Hazard\n Midfield — Chelsea,$18.9m,21.0,8,4.0,17,13.05,274.04
2,Alexis Sánchez\n Forward — Arsenal,$17.6m,NaN,12,7.0,29,11.19,223.86
3,Yaya Touré\n Midfield — Manchester City,$16.6m,18.0,7,1.0,19,10.99,197.91
4,Ángel Di María\n Midfield — Manchester United,$15.0m,13.0,3,NaN,13,10.17,132.23
5,Santiago Cazorla\n Midfield — Arsenal,$14.8m,20.0,4,NaN,20,9.97,NaN
6,David Silva\n Midfield — Manchester City,$14.3m,15.0,6,2.0,11,10.35,155.26
7,Cesc Fàbregas\n Midfield — Chelsea,$14.0m,20.0,2,14.0,10,10.47,209.49
8,Saido Berahino\n Forward — West Brom,$13.8m,21.0,9,0.0,20,7.02,147.43
9,Steven Gerrard\n Midfield — Liverpool,$13.8m,20.0,5,1.0,11,7.50,150.01

In [17]:
def traitement_nom_joueur(text):
    nom, reste = text.split('\n')
    return nom

In [18]:
nom = map(lambda text : traitement_nom_joueur(text), df.PLAYER)
list(nom)

['Sergio Agüero',
 'Eden Hazard',
 'Alexis Sánchez',
 'Yaya Touré',
 'Ángel Di María',
 'Santiago Cazorla',
 'David Silva',
 'Cesc Fàbregas',
 'Saido Berahino',
 'Steven Gerrard']

In [19]:
def traitement_equipe_joueur(text):
    nom, reste = text.split('\n')
    poste, equipe = [x.strip() for x in reste.split(' — ')]
    return equipe

def traitement_poste_joueur(text):
    nom, reste = text.split('\n')
    poste, equipe = [x.strip() for x in reste.split(' — ')]
    return poste

In [21]:
df['joueur'] = list(map(lambda text : traitement_nom_joueur(text), df.PLAYER))
df['equipe'] = list(map(lambda text : traitement_equipe_joueur(text), df.PLAYER))
df['poste'] = list(map(lambda text : traitement_poste_joueur(text), df.PLAYER))
df

,PLAYER,SALARY,GP,G,A,SOT,PPG,P,joueur,equipe,poste
0,Sergio Agüero\n Forward — Manchester City,$19.2m,16.0,14,3.0,34,13.12,209.98,Sergio Agüero,Manchester City,Forward
1,Eden Hazard\n Midfield — Chelsea,$18.9m,21.0,8,4.0,17,13.05,274.04,Eden Hazard,Chelsea,Midfield
2,Alexis Sánchez\n Forward — Arsenal,$17.6m,NaN,12,7.0,29,11.19,223.86,Alexis Sánchez,Arsenal,Forward
3,Yaya Touré\n Midfield — Manchester City,$16.6m,18.0,7,1.0,19,10.99,197.91,Yaya Touré,Manchester City,Midfield
4,Ángel Di María\n Midfield — Manchester United,$15.0m,13.0,3,NaN,13,10.17,132.23,Ángel Di María,Manchester United,Midfield
5,Santiago Cazorla\n Midfield — Arsenal,$14.8m,20.0,4,NaN,20,9.97,NaN,Santiago Cazorla,Arsenal,Midfield
6,David Silva\n Midfield — Manchester City,$14.3m,15.0,6,2.0,11,10.35,155.26,David Silva,Manchester City,Midfield
7,Cesc Fàbregas\n Midfield — Chelsea,$14.0m,20.0,2,14.0,10,10.47,209.49,Cesc Fàbregas,Chelsea,Midfield
8,Saido Berahino\n Forward — West Brom,$13.8m,21.0,9,0.0,20,7.02,147.43,Saido Berahino,West Brom,Forward
9,Steven Gerrard\n Midfield — Liverpool,$13.8m,20.0,5,1.0,11,7.50,150.01,Steven Gerrard,Liverpool,Midfield