In [1]:
# IMPORTS
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
##################################### Base de données : LaPoste #######################################

In [3]:
# CHARGEMENT DE FICHIERS D’ENTREE
data_df = pd.read_csv('http://datanova.legroupe.laposte.fr/explore/dataset/laposte_hexasmal/download/?format=csv&timezone=Europe/Berlin&use_labels_for_header=true', sep=';')

In [4]:
# VISUALISATION - INFORMATION FICHIER : 5 PREMIERES LIGNES
data_df.head()

,Code_commune_INSEE,Nom_commune,Code_postal,Libelle_acheminement,Ligne_5,coordonnees_gps
0,90078,PETITEFONTAINE,90360,PETITEFONTAINE,NaN,"47.7237763721, 7.00757336099"
1,90089,ROUGEMONT LE CHATEAU,90110,ROUGEMONT LE CHATEAU,NaN,"47.7460113941, 6.95212889734"
2,90091,ST GERMAIN LE CHATELET,90110,ST GERMAIN LE CHATELET,NaN,"47.7002701756, 6.96114583666"
3,90093,SERMAMAGNY,90300,SERMAMAGNY,NaN,"47.687801557, 6.8309146345"
4,90105,VILLARS LE SEC,90100,VILLARS LE SEC,NaN,"47.4554088507, 6.98803547043"

In [5]:
# VISUALISATION - INFORMATION FICHIER : NB LIGNES - NB VIDES - TYPE
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39201 entries, 0 to 39200
Data columns (total 6 columns):
Code_commune_INSEE      39201 non-null object
Nom_commune             39201 non-null object
Code_postal             39201 non-null int64
Libelle_acheminement    39201 non-null object
Ligne_5                 3257 non-null object
coordonnees_gps         38932 non-null object
dtypes: int64(1), object(5)
memory usage: 1.8+ MB

In [6]:
# VISUALISATION - INFORMATION FICHIER : DESCRIPTION VARIABLES NUMERIQUES
data_df.describe()

        Code_postal
count  39201.000000
mean   46807.021275
std    25902.437435
min     1000.000000
25%    24800.000000
50%    49360.000000
75%    67350.000000
max    98890.000000