# La librairie Pandas

In [1]:
logprenoms = "andré boris catherine didier etienne françois gérard henri isabelle josette"

In [2]:
prenoms = logprenoms.split()
print(prenoms)

['andré', 'boris', 'catherine', 'didier', 'etienne', 'françois', 'gérard', 'henri', 'isabelle', 'josette']

In [3]:
# IMPORT
import pandas as pd

In [4]:
prenoms = pd.Series(prenoms)
prenoms

0        andré
1        boris
2    catherine
3       didier
4      etienne
5     françois
6       gérard
7        henri
8     isabelle
9      josette
dtype: object

In [5]:
prenoms.str.capitalize()

0        André
1        Boris
2    Catherine
3       Didier
4      Etienne
5     François
6       Gérard
7        Henri
8     Isabelle
9      Josette
dtype: object

In [6]:
prenoms.str.len()

0    5
1    5
2    9
3    6
4    7
5    8
6    6
7    5
8    8
9    7
dtype: int64

In [7]:
prenoms.str.startswith('e')

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [8]:
prenoms.str.split('e')

0          [andré]
1          [boris]
2    [cath, rin, ]
3        [didi, r]
4     [, ti, nn, ]
5       [françois]
6         [gérard]
7         [h, nri]
8     [isab, ll, ]
9      [jos, tt, ]
dtype: object

In [9]:
prenoms.str.extract('([a-d]+)')

     0
0    a
1    b
2   ca
3    d
4  NaN
5    a
6    a
7  NaN
8   ab
9  NaN

In [10]:
# EXTRACTION D'UN GROUPE CONTIGU DE CARACTERES
prenoms.str.extract('([a-z]+)', expand = False)

0         andr
1        boris
2    catherine
3       didier
4      etienne
5         fran
6            g
7        henri
8     isabelle
9      josette
dtype: object

In [11]:
# EXTRACTION D'UN GROUPE CONTIGU DE CARACTERES
prenoms.str.extract('([a-e]+)', expand = False)

0      a
1      b
2     ca
3      d
4      e
5      a
6      a
7      e
8    abe
9      e
dtype: object

In [12]:
# TROUVER LES PRENOMS QUI COMMENCENT ET FINISSENT PAR UNE CONSONNE
# Caractères d'expression régulière de début de chaîne (^) et de fin de chaîne ($)
prenoms.str.findall(r'^[^aeiouy].*[^aeiouy]$')

0            []
1       [boris]
2            []
3      [didier]
4            []
5    [françois]
6      [gérard]
7            []
8            []
9            []
dtype: object

In [13]:
# TROUVER LE DEBUT DE CHAINE DE CARACTERES QUI 'MATCHE'
prenoms.str.match('did')

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [14]:
# TROUVER LA CHAINE DE CARACTERES QUI CONTIENT ...
prenoms.str.contains('herin')

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [15]:
# COMPTAGE DES CARACTERES
prenoms.str.count('e')

0    0
1    0
2    2
3    1
4    3
5    0
6    0
7    1
8    2
9    2
dtype: int64

In [16]:
# RECUPERER LES x PREMIERS CARACTERES
prenoms.str[0:3]

0    and
1    bor
2    cat
3    did
4    eti
5    fra
6    gér
7    hen
8    isa
9    jos
dtype: object

In [17]:
# RECUPERER TOUT SAUF LES x DERNIERS CARACTERES
prenoms.str[0:-2]

0        and
1        bor
2    catheri
3       didi
4      etien
5     franço
6       géra
7        hen
8     isabel
9      joset
dtype: object

In [18]:
# RECUPERER LES x DERNIERS CARACTERES
prenoms.str[-3:]

0    dré
1    ris
2    ine
3    ier
4    nne
5    ois
6    ard
7    nri
8    lle
9    tte
dtype: object

In [19]:
# SPLIT SUITE
prenoms.str.split('e').str.get(0)

0       andré
1       boris
2        cath
3        didi
4
5    françois
6      gérard
7           h
8        isab
9         jos
dtype: object

In [20]:
# SPLIT SUITE
prenoms.str.split('e').str.get(1)

0    NaN
1    NaN
2    rin
3      r
4     ti
5    NaN
6    NaN
7    nri
8     ll
9     tt
dtype: object

In [21]:
# SPLIT SUITE
prenoms.str.split('e').str.get(-1)

0       andré
1       boris
2
3           r
4
5    françois
6      gérard
7         nri
8
9
dtype: object

In [22]:
# PREPARATION D'UN DATAFRAME PROPRE AVEC LES TABLEAUX ET DES INFOS CODEES
logprenoms = "andré boris catherine didier etienne françois gérard henri isabelle josette"
lognoms = "didédé dibob demedicis lambrouille etienne premier mer quatre alesieuxverts epousix"

prenoms = logprenoms.split()
prenoms = pd.Series(prenoms)
print('Prénoms :\n', prenoms)

noms = lognoms.split()
noms = pd.Series(noms)
print('Noms :\n', noms)

Prénoms :
 0        andré
1        boris
2    catherine
3       didier
4      etienne
5     françois
6       gérard
7        henri
8     isabelle
9      josette
dtype: object
Noms :
 0           didédé
1            dibob
2        demedicis
3      lambrouille
4          etienne
5          premier
6              mer
7           quatre
8    alesieuxverts
9          epousix
dtype: object

In [23]:
df1 = pd.DataFrame({'Prenoms' : prenoms,
                    'Noms' : noms})
df1

     Prenoms           Noms
0      andré         didédé
1      boris          dibob
2  catherine      demedicis
3     didier    lambrouille
4    etienne        etienne
5   françois        premier
6     gérard            mer
7      henri         quatre
8   isabelle  alesieuxverts
9    josette        epousix

In [24]:
df2 = pd.DataFrame({'Infos' : ['B|C|D', 'B|D',
                               'A|C', 'B|D',
                               'C|D', 'B|C',
                               'B|C|D', 'B|C|D',
                               'B|C|D', 'A|B|C|D']})
df2

     Infos
0    B|C|D
1      B|D
2      A|C
3      B|D
4      C|D
5      B|C
6    B|C|D
7    B|C|D
8    B|C|D
9  A|B|C|D

In [25]:
# CROSS TABLE DE CES INFORMATIONS CODEES
df2 = df2['Infos'].str.get_dummies('|')
df2

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  0  1  1
5  0  1  1  0
6  0  1  1  1
7  0  1  1  1
8  0  1  1  1
9  1  1  1  1

In [26]:
# ENFIN CONCATENATION
df = pd.concat([df1, df2], axis=1)
df

     Prenoms           Noms  A  B  C  D
0      andré         didédé  0  1  1  1
1      boris          dibob  0  1  0  1
2  catherine      demedicis  1  0  1  0
3     didier    lambrouille  0  1  0  1
4    etienne        etienne  0  0  1  1
5   françois        premier  0  1  1  0
6     gérard            mer  0  1  1  1
7      henri         quatre  0  1  1  1
8   isabelle  alesieuxverts  0  1  1  1
9    josette        epousix  1  1  1  1