In [17]:
# Gestion des imports
import configparser
import pandas as pd

In [18]:
#import C3 JS
import c3pyo as c3

In [19]:
# Gestion de la configuration
config = configparser.ConfigParser()
config.read('../Configuration.conf')

['../Configuration.conf']

In [20]:
# Obtention du chemin de travail
cheminressources = config.get('Chemin', 'resources')
print("Le chemin des fichiers de ressources est : \n", cheminressources)

Le chemin des fichiers de ressources est :
 /Users/Fred/Desktop/POEi_Lille/09_Python_Prepa_Analyse_par_la_Pratique/resources/

In [21]:
# CHARGEMENT DE FICHIER D’ENTREE
Ventes_Voitures_df = pd.read_csv(cheminressources + 'Voitures_Vente.csv', sep = ',', parse_dates=['date'])

In [22]:
# ON RENOMME DES COLONNES
Ventes_Voitures_df.rename(columns = {Ventes_Voitures_df.columns[0]:'Num_Compte',
                                Ventes_Voitures_df.columns[1]:'Nom',
                                Ventes_Voitures_df.columns[2]:'Plaque',
                                Ventes_Voitures_df.columns[3]:'Catégorie',
                                Ventes_Voitures_df.columns[4]:'Quantité',
                                Ventes_Voitures_df.columns[5]:'Prix_Unitaire',
                                Ventes_Voitures_df.columns[6]:'Prix_Extérieur',
                                Ventes_Voitures_df.columns[7]:'Date'}, inplace = True)

In [23]:
# DESCRIPTION DES VARIABLES NUMERIQUES
Ventes_Voitures_df.describe()

          Num_Compte     Quantité  Prix_Unitaire  Prix_Extérieur
count    1000.000000  1000.000000    1000.000000      1000.00000
mean   535208.897000    10.328000      56.179630       579.84390
std    277589.746014     5.687597      25.331939       435.30381
min     93356.000000     1.000000      10.060000        10.38000
25%    299771.000000     5.750000      35.995000       232.60500
50%    563905.000000    10.000000      56.765000       471.72000
75%    750461.000000    15.000000      76.802500       878.13750
max    995267.000000    20.000000      99.970000      1994.80000

In [24]:
# AFFICHAGE DES INFORMATIONS CONCERNANT LE CLIENT
Clients = Ventes_Voitures_df[['Nom','Prix_Extérieur','Date']]

In [25]:
# AFFICHAGE DU NOMBRE DE VOITURES ACHETEES PAR CLIENT
Groupage_Clients = Clients.groupby('Nom')
Groupage_Clients.size()

Nom
Berge LLC                        52
Carroll PLC                      57
Cole-Eichmann                    51
Davis, Kshlerin and Reilly       41
Ernser, Cruickshank and Lind     47
Gorczany-Hahn                    42
Hamill-Hackett                   44
Hegmann and Sons                 58
Heidenreich-Bosco                40
Huel-Haag                        43
Kerluke, Reilly and Bechtelar    52
Kihn, McClure and Denesik        58
Kilback-Gerlach                  45
Koelpin PLC                      53
Kunze Inc                        54
Kuphal, Zieme and Kub            52
Senger, Upton and Breitenberg    59
Volkman, Goyette and Lemke       48
Waelchi-Fahey                    54
Waters-Walker                    50
dtype: int64

In [26]:
# AFFICHAGE DES INFORMATIONS CONCERNANT LE CLIENT AVEC LA CATEGORIE
Clients = Ventes_Voitures_df[['Nom','Catégorie', 'Prix_Extérieur','Date']]

In [27]:
# AFFICHAGE DU TOTAL VENTE (PAR LIGNE) en $ PAR CLIENT ET CATEGORIE
Groupage_Categories = Clients.groupby(['Nom','Catégorie']).sum()
Groupage_Categories.head()

                       Prix_Extérieur
Nom         Catégorie
Berge LLC   Belt              6033.53
            Shirt             9670.24
            Shoes            14361.10
Carroll PLC Belt              9359.26
            Shirt            13717.61

In [28]:
# AFFICHAGE DU TOTAL VENTE en $ PAR CLIENT ET CATEGORIE (SOUR FORME DE TABLEAU)
Categories = Groupage_Categories.unstack()
Categories.head()

                             Prix_Extérieur
Catégorie                              Belt     Shirt     Shoes
Nom
Berge LLC                           6033.53   9670.24  14361.10
Carroll PLC                         9359.26  13717.61  12857.44
Cole-Eichmann                       8112.70  14528.01   7794.71
Davis, Kshlerin and Reilly          1604.13   7533.03   9917.60
Ernser, Cruickshank and Lind        5894.38  16944.19   5250.45

In [29]:
MonAbscisse = list(Categories.index.values)
MonAbscisse

['Berge LLC',
 'Carroll PLC',
 'Cole-Eichmann',
 'Davis, Kshlerin and Reilly',
 'Ernser, Cruickshank and Lind',
 'Gorczany-Hahn',
 'Hamill-Hackett',
 'Hegmann and Sons',
 'Heidenreich-Bosco',
 'Huel-Haag',
 'Kerluke, Reilly and Bechtelar',
 'Kihn, McClure and Denesik',
 'Kilback-Gerlach',
 'Koelpin PLC',
 'Kunze Inc',
 'Kuphal, Zieme and Kub',
 'Senger, Upton and Breitenberg',
 'Volkman, Goyette and Lemke',
 'Waelchi-Fahey',
 'Waters-Walker']

In [30]:
Belt = []
Shirt = []
Shoes = []
PrixExt = list(Categories['Prix_Extérieur'].values)
for i in range(0,len(PrixExt)):
    Belt.append(PrixExt[i][0])
    Shirt.append(PrixExt[i][1])
    Shoes.append(PrixExt[i][2])

In [31]:
# VISUALISATION : HISTOGRAMME DU TOTAL VENTE en $ PAR CLIENT ET CATEGORIE
chart = c3.BarChart()
chart.plot(Belt, label='Belt')
chart.plot(Shirt, label='Shirt')
chart.plot(Shoes, label='Shoes')
chart.set_xticklabels(MonAbscisse)
chart.ylabel('Ventes')
chart.show()